<header>

    <nav class="menu">
        <div class="mst">
            <mat-slide-toggle class="flex"
            [color]="color"
            [checked]="checked"
            [disabled]="disabled"
            (change)="toggleTheme()">
            
        </mat-slide-toggle>
        </div>
        <p>&nbsp;&nbsp;</p>
        <p>&nbsp;&nbsp;</p>

      <ul>
        <li><a href="#">Back-End</a></li>
        <li><a href="#">Front-End</a></li>
        <li><a href="#">42Madrid</a></li>
        <li><a href="#">Home</a></li>
      </ul>
  
    </nav>

  </header>
