  <!-- Footer -->
  <footer class="footer">
    <div class="footer-content">
    <div class="footer-info ">
        <!-- Aquí agregas la información a la izquierda -->
        <nav class="privacity">
            <ul>
                <li><a href="#">Terminos</a></li>
                <li><a href="#">Privacidad</a></li>
                <li><a href="#">Lenguaje</a></li>
                <li><a>© 2024 Adrian Herrera</a></li>
              </ul>
            </nav>
      </div>
      <div class="footer-hash">
          <nav class="hashtag">
            <ul>
              @for (item of hashtags; track item) {
                <li><a><strong>#</strong>{{item}}</a></li>
              }
            </ul>
            <div class="footer-logo">
              <div class="divider"></div>
            </div>
          </nav>
        </div>
  </div>
  </footer>
  
