<!-- <div class="test-container">

</div>
 -->
<div class="slider-container">
    <div *ngFor="let item of items; let i = index" 
        class="slider-item"
         [ngClass]="{
         'selected': i === getIndex(),
         'prev': i === getIndex() - 1,
         'next': i === getIndex() + 1,
         'hideLeft': i < getIndex() - 1,
         'hideRight': i > getIndex() + 1,
         }">
         <app-child-card-info [item]="item" class="slider-image" (click)="onImageClick(i)" (panleft)="showNext(i)" (panright)="showPrev(i)"></app-child-card-info>

    </div>
</div>