<!-- <div class="test-container">

</div>
 -->
<div class="slider-container">
    <div *ngFor="let image of images; let i = index" 
        class="slider-item"
         [ngClass]="{
         'selected': i === selectedIndex,
         'prev': i === selectedIndex - 1,
         'next': i === selectedIndex + 1,
         'hideLeft': i < selectedIndex - 1,
         'hideRight': i > selectedIndex + 1,
         }">
         <app-child-card-info class="slider-image" (click)="onImageClick(i)"></app-child-card-info>

    </div>
</div>