

/*BODY*/
main {
    max-width: 60%;
    border-radius: 80px;
    display: block;
    justify-content: center;
    align-items: center;
    align-self: center;
    position: absolute;
}
  
.back-container {
  width: 70%;
  height: 100%;
  max-width: 400px;
  position: fixed;
  margin-left: 10%;

}

.background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1; /* Sitúa el fondo detrás del contenido */
}
.contentFt {
  position: relative;
  z-index: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  display: none; /* Ocultamos la imagen original para evitar redundancias */
}

@media screen and (max-width: 1024px) {

  main {
    max-width: 100%;
    border-radius: 80px;
    display: block;
    justify-content: center;
    align-items: center;
    align-self: center;
    position: absolute;
}
}