/* You can add global styles to this file, and also import other style files */


@tailwind base;
@tailwind components;
@tailwind utilities;

.card { 
  margin-right: auto; 
  margin-left: auto; 
  width: 250px; 
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2); 
  height: 300px; 
  border-radius: 5px; 
  backdrop-filter: blur(30px); 
  background-color: rgba(255, 255, 255, 0.2); 
  padding: 10px; 
  text-align: center; 
} 

.card img { 
  height: 60%; 
}
:root{
  --background-color: #E4E2D2;
  --background-image: linear-gradient(#98d7f3, #c9e190);
  --menu-background-color:#E4E2D2;
  --icon-hover-background-color: #4f4c39;
  --icon-hover-color: #ffffff;
  --skeleton-background:linear-gradient(90deg, #868686 25%, #989898 50%, #868686 75%);
  --text-color: #1b1b3a;
  --menu-text-color: #1b1b3a;

}
:root.light-theme {
    --background-color: #E4E2D2;
    --background-image: linear-gradient(#98d7f3, #c9e190);
    --menu-background-color:#E4E2D2;
    --icon-hover-background-color: #4f4c39;
    --icon-hover-color: #ffffff;
    --skeleton-background:linear-gradient(90deg, #868686 25%, #989898 50%, #868686 75%);
    --text-color: #1b1b3a;
    --menu-text-color: #1b1b3a;
  }
  
  /* Tema Oscuro */
  :root.dark-theme {
    --background-color: #4f4c39;
    --menu-background-color:#4f4c39;
    --background-image: linear-gradient(#5098e4, #2e30a7);

    --icon-hover-background-color: #E4E2D2;
    --icon-hover-color: #000000;
    --skeleton-background:linear-gradient(90deg, #cdcbcb 25%, #f0f0f0 50%, #cdcbcb 75%);
    --text-color: #d7e6f6;
    --menu-text-color: #d7e6f6;
  }


  @keyframes loading {
    0% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }

  .custom-space {
    height: 30px; /* Ajusta el tamaño vertical del espacio */
    margin: 0;    /* Elimina el margen por defecto */
    padding: 0;   /* Elimina el padding por defecto */
  }
  .skeleton-text {
    height: 20px;
    margin-top: 20px;
    background: var(--skeleton-background);
  }


html, body


body {
  width: 100vw;
  height: 100vh;
 font-family: Roboto, "Helvetica Neue", sans-serif; 
  background-image: var(--background-image);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
