<app-header [activeToggle]="true"></app-header>

  <!-- Contenido principal -->
  <main>
        <div class="container">
      <div class = "contact">
          <ul>
              <button><fa-icon class="iconsize" [icon]="faGithub"></fa-icon></button>
              <button><fa-icon class="iconsize" [icon]="faLinkedin"></fa-icon></button>
              <button><fa-icon class="iconsize"  [icon]="faMedium"></fa-icon></button>
              <button><fa-icon class="iconsize"  ></fa-icon></button>
          </ul>
      </div>
    </div>
    <div class="presentation">
      <div class="presentation-image"></div>
      <p class="custom-space"></p>

      <ng-template  [ngIf]="item.title" [ngIfElse]="sklTitle">
        <h1>
          {{ item.title }}
        </h1>
      </ng-template>
      <ng-template #sklTitle>
        <h1 class="skeleton-text"></h1>
      </ng-template>
      <p class="custom-space"></p>

      <ng-template  [ngIf]="item.title" [ngIfElse]="sklDesc">
        <div class="center-text">{{ item.description }}</div>
      </ng-template>

      <ng-template #sklDesc>
        <div class=" center-text">¡El tamaño de fuente en la página importa! Si eliges una fuente que no sea demasiado pequeña ni demasiado grande, harás que la lectura sea mucho más fácil para tus usuarios. Una unidad especial que usan los tipógrafos para describir las fuentes es.
        </div>
      </ng-template>

    </div>


  </main>
  
<app-footer ></app-footer>

